// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;

	.date {
		font-size: 48px;
		font-weight: bold;
	}

	.time {
		font-size: 48px;
		font-weight: lighter;
	}

}
